body {
  font-family: "Times New Roman", Times, serif;
  max-width: 800px;
  margin-left: 20px; 
  margin-right: auto;
  padding: 20px;
}

h1 {
  color: #333;
}

a {
  color: #0077cc;
  text-decoration: none;
}
